
.bookSlider .swiper {
  width: 240px;
  height: 320px;
}

.bookSlider .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.bookSlider .swiper-slide:nth-child(1n) {
 background-image: url('../../assets/banner-book/book2.png');
}

.bookSlider .swiper-slide:nth-child(2n) {
  background-image: url('../../assets/banner-book/book1.png');
}

.bookSlider .swiper-slide:nth-child(3n) {
  background-image: url('../../assets/banner-book/book3.png');
}

.bookSlider .swiper-slide:nth-child(4n) {
  background-image: url('../../assets/banner-book/book4.png');
}

.bookSlider .swiper-slide:nth-child(5n) {
  background-image: url('../../assets/banner-book/book5.png');
}

